<script type="text/javascript">
<!--
/* http://www.alistapart.com/articles/zebratables/ */
function removeClassName (elem, className) {
	elem.className = elem.className.replace(className, "").trim();
}

function addCSSClass (elem, className) {
	removeClassName (elem, className);
	elem.className = (elem.className + " " + className).trim();
}

String.prototype.trim = function() {
	return this.replace( /^\s+|\s+$/, "" );
}

function stripedTable() {
	if (document.getElementById && document.getElementsByTagName) {  
		var allTables = document.getElementsByTagName('table');
		if (!allTables) { return; }

		for (var i = 0; i < allTables.length; i++) {
			if (allTables[i].className.match(/[\w\s ]*scrollTable[\w\s ]*/)) {
				var trs = allTables[i].getElementsByTagName("tr");
				for (var j = 0; j < trs.length; j++) {
					removeClassName(trs[j], 'alternateRow');
					addCSSClass(trs[j], 'normalRow');
				}
				for (var k = 0; k < trs.length; k += 2) {
					removeClassName(trs[k], 'normalRow');
					addCSSClass(trs[k], 'alternateRow');
				}
			}
		}
	}
}

window.onload = function() { stripedTable(); }
-->
</script>

<table width="100%">
<tr>
  <td valign="top">
	<div class="mcd-form">
	<%= form_remote_tag :update => "results", :url => { :action => "update_applications" } %>
	<table>
	<tr>
	  <td valign="top" width="300">					
		<div class="" id="select4">
		  <label for="atv_category">
		  	Category:
	   	    <select id="atv_category" name="atv_category">
	    	  <% for item in @atv_categories %>
			  	<option value="<%= h(item.category_id) -%>"> <%= h(item.category_name) -%></option>
			  <% end %>
	   	    </select>
	   	  </label>	  	
		</div>				
	  </td>
	  <td valign="top" width="300">					
		  <div class="" id="select5">	  	
		  	<label for="product_product_number">
		  	  Product Number:
			  <%= text_field_with_auto_complete :product, :product_number, { :size => 15 }, :skip_style => true -%>
			</label>
		  </div>			
	  </td>	  
	</tr>
	<tr>
	  <td valign="top">
		<div class="" id="select1">	  	
		  <label for="atv_make">
		    ATV Make:
	   	  	<select id="atv_make" name="atv_make">
	    	  <% for item in @atv_makes %>
				<option value="<%= h(item.make) -%>" <% if $atv_make==item.make -%> selected 
		  	  <% end -%>>
		 	  <%= h(item.make) -%></option><% end %>
	   	  	</select>
	   	  </label>
		</div>
	  </td>		
	  <td valign="top">					
		  <div class="" id="select6">	  	
		  	<label for="atv_note">
		  	  Note:
			  <input type="text" id="atv_note" name="atv_note" size="45" />	
			</label>
		  </div>				
	  </td>
	</tr>
	<tr>
	  <td valign="top" align="left" colspan="2">
		<div class="" id="select2">	
		  <div class="" id="select3"></div>				
		</div>
	  </td>
	  <td valign="top" align="left">
		<%= submit_to_remote("go", "GO", :url => { :action => "update_applications" },
		  :failure => "alert('There was an error with the update..');", :update => "results") %>			
	  </td>

	</tr>
	</table>
	</div>

  </td><td valign="top">
	
	<div class="" id="results">
  <div id="tableContainer" class="tableContainer">
	<table class="scrollTable" width="100%" border="0" cellpadding="0" cellspacing="0">
	<thead class="fixedHeader">
	  <tr>	    		
	  	<th class="th1">Year</th>
	  	<th class="th1">Model</th>
	  	<th class="th1">Description</th>
	    <th class="th1">Category</th>
	    <th class="th1">Product</th>
	  </tr>
	</thead>
	
	<tbody class="scrollContent">
	  <% if !@recent_mpc.nil? %>	
		<% for mpc in @recent_mpc %>
	  	  <tr>
	    	<td class="td2"><%=h mpc.model.year %></td>
	    	<td class="td2"><%=h mpc.model.model %></td>
	    	<td class="td2"><%=h mpc.model.description %></td>
	    	<td class="td2"><%=h mpc.category.category_name %></td>
	    	<td class="td1"><%=h mpc.product.product_number %></td>
	  	  </tr>
		<% end %>
	  <% end %>
	</tbody>
	</table>    
  </div>	

    </div>

  </td>
</tr>
</table>

<%= observe_field("atv_make",
   :update => "select2",
   :url => { :action => :show_models},
   :with => "atv_make") %>   
