<select name="atv_model[]" id="atv_model[]" size="25" multiple="multiple">
  <% for item in @atv_models %>
	<option value="<%= h(item.id) -%>"> 
  	  <%= h(item.cc) -%> | <%= h(item.year) -%> |
	  <% if $atv_make != "Polaris" -%> <%= h(item.model) -%> <% end -%> - <%= h(item.description) %>	  
    </option>
  <% end -%>
</select>
